*{
margin: 0px;
padding: 0px;
box-sizing:border-box;
}
body{
width:100%;
}
header{
 box-sizing:border-box;
    background-color:rgb(38,208,201) ;
    color: white;
    padding: 0px 20px;
    margin: 0;
 width:100%;
 height:50px;
 position:fixed;
}
.header-logo{
 font-size: 30px;
 float:left;
 margin:0;
 display:inline-block;
 width:100px;
}
.header-link{
 float:left;
 padding:15px;
    
}
.header-link a{
    font-size: ;
 color:white;
 margin:18px;
}

 .link-icon{
  display:none;
 }
 

.clear{
 clear:both;
}

main{
 padding:0px 50px;
}
/*---メッセージパーツです---*/
.message{
 padding:100px 0px 80px;
}
.message h1{
 font-size:100px;
}
span{
 color:red;
}
.message p{
 font-size:40px;
 font-weight:bold;
}

/*---レッスンパーツです---*/

h3{
 font-size:20px;
 padding:15px 0px;
 border-bottom:1px solid ;
 
}

.lessons{
 padding-bottom:100px;
}
.lesson{
 width:;
 float:left;
 margin:30px 25px 0px 0px;
}

.lesson p{
 font-size:20px;
 margin-top:20px;
}
.clear{
 clear:both;
}

/*---コンタクトパーツです---*/
.btns{
 padding:30px 0px 100px;
}
.contact p{
 font-size:13px
}
.contact input,textarea{
 margin:5px 0px 25px;
 border-radius:5px;
 width:300px
}

/*---フッターパーツです---*/
footer{
 background-color:rgb(47,81,103);
 color:white;
 padding: 10px 20px 0px;

}
.footer-logo{
 font-size:30px;
 float:left;
}
.footer-link{
 float:right;
}

.footer-link a{
 display:block;
 color:white;
 margin:10px 0px;
}

.clear{
 clear:both;
}


/*---レスポンシブデザインです---*/
/*---スマホ　670px---*/

@media(max-width:670px) {
 /*---ヘッダー---*/
 
 header{
  height:80px
 }
 
 .header-logo{
  float:none;
  line-height:80px;
  font-size:50px;
 }
 
 .header-link{
  display:none;
 }
 .link-icon{
  display:block;
  float:right;
  font-size:50px;
  line-height:80px;
 }
 .fa{
  color:white;
 }
 /*---メッセージ---*/
 
 .message{
  text-align:center;
  padding:170px 0px 260px;
 }
 .message h1{
  font-size:50px;
 }
 .message p{
  font-size:30px;
 }
 
 
 /*--レッスン----*/
 h3{
  text-align:center;
  font-size:25px;
 }
 
 .lessons{
  
  padding:0 auto;
  text-align:center;
  width:100%;
 }
 .lesson{
  float:none;
  margin:50px 0px;
  
 }
 .lesson img{
  width:100%;
 
 }
 
 .lesson p{
  font-size:28px;
 }
 
 /*--コンタクト----*/
 .btns{
  text-align:center;
 }
 .btns p,input, textarea{
  font-size:20px;
 }
 
 .btns input, textarea{
   width:100%;
 }
 
 /*---フッター---*/
 footer{
  text-align:center;
  height:;
  padding:10px 0px;
 }
 
 .footer-logo{
  float:none;
  margin-bottom:10px
 }
 
 .footer-link{
  float:none;
  padding:10px 0px;
 }

 .footer-link a{
  display:inline;
  margin:0px 8px 0px;   
  font-size:10px;
  width:0%;
 }

}
